
<div id="gsp-header-title" class="col-lg-3">

    <h3>GSP全球服务平台  &nbsp;|&nbsp;首页</h3>

</div>
<div id="gsp-header-work" class="col-lg-6">
    <ul class="list-unstyled">
        <li>
            <a href="#">
                <span class="icon-remind" id="work-dy"></span>
                <span><i class="icon-heilongjiangtubiao22"></i></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon-remind" id="work-db">1</span>
                <span><i class="icon-heilongjiangtubiao22"></i></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon-remind" id="work-yj"></span>
                <span><i class="icon-heilongjiangtubiao22"></i></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon-remind" id="work-gg">5</span>
                <span><i class="icon-heilongjiangtubiao22"></i></span>
            </a>
        </li>
    </ul>
</div>
<div id="gsp-header-userinfo" class="col-lg-3">
    <div id="userinfo">
        <a id="user-txl" href="#"><p>用户</p><p>通讯录</p></a>
        <a id="user-img" href="#">
            <span class="icon-status"></span>
            <img class="img-circle img-sm" src="../../images/profile-photos/1.png" />
        </a>
        <a href="#" id="user-name"><span class="text-bold" data-bind="text:userinfo.username"></span></a>
        <!--<span id="user-role">
            <select>
                <option>管理员</option>
                <option>客户经理</option>
                <option>业务管理员</option>
                <option>其他用户</option>
            </select>
        </span>-->
        <div id="institution">
            <span data-bind="text:userinfo.currentrole.institution">-</span>
            <span>&nbsp;|&nbsp;</span>
            <span>
                <span data-bind="text:userinfo.currentrole.department">-</span>
                <span data-bind="text:userinfo.currentrole.team">-</span>
            </span>
        </div>
    </div>

</div>
