<!-- 遍历第一层级  时点，日均。。。 -->
 <!-- ko foreach:{data:mydata ,as:'frist'}  -->
<div class="divout1" >
    <div class="divcenter">
        <span data-bind="text:frist.type"></span>

        <!-- ko if:frist.rows==1 -->
        <div class="row" data-bind="foreach:{data:frist.content1,as:'data1'}">
            <span>1111</span>
        </div>
        <!-- /ko -->

        <!-- ko if:frist.rows==2 -->
        <div class="row" data-bind="foreach:{data:frist.content1,as:'data1'}">
            
            <div class="col-lg-6">
                <div class="divinleft">
                    <div id="description1" class="descriptionout">
                        <div data-bind="text:data1.dsppoint" class="descriptionin"></div>
                    </div>

                    <div class="row" style="margin-top:10px">

                        <div class="col-lg-6 floleft">
                            <span class="font18" data-bind="text:title">公司存款时点余额</span>
                        </div>
                        <div class="col-lg-6  textright">
                            <a class="instruction" onmousemove="document.getElementById('description1').style.display = 'block'" onmouseout="document.getElementById('description1').style.display = 'none'">数据说明</a>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 floleft">
                            <button class="btn-chart">导出</button>
                        </div>
                        <div class="col-lg-6 textright">
                            <div class="mb5 font12">
                                <span>数据日期：</span>
                                <span data-bind="text:data1.date">2016年6月</span>
                            </div>
                            <div class="mb5 font12">
                                <span>单位：</span>
                                <span id="unit" data-bind="text:data1.unitpoint"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="chart" data-bind="attr:{id:data1.chartid}"></div>
                        <div id="aa" class="charttable">
                            <table border="1" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr data-bind="foreach:{data:data1.chartdata, as:'t'}">
                                        <td data-bind="text:t.month"></td>
                                    </tr>
                                    <tr data-bind="foreach:{data:data1.chartdata, as:'t'}">
                                        <td data-bind="text:t.value1"></td>
                                    </tr>
                                    <tr data-bind="foreach:{data:data1.chartdata, as:'t'}">
                                        <td data-bind="text:t.value2"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div data-bind="attr:{id:data1.chartpointid}" class="legend"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row" data-bind="foreach:{data:frist.content2,as:'data2'}">
            <span>333</span>
        </div>
        <!-- /ko -->
    </div>
</div>
 <!-- /ko -->

<script>
    alert(11);
</script>



