<div class="btn-group bootstrap-select show-tick" style="width: 100%;" data-bind="dropdown:true">
    <button type="button" class="btn dropdown-toggle btn-default" title="" data-bind="click:selclick">
        <span class="filter-option pull-left">--请选择项--</span>&nbsp;
        <span class="filter-option-id hidden"></span>&nbsp;
        <span class="bs-caret">
            <span class="caret"></span>
        </span>
    </button>
    <div class="dropdown-menu" style="max-height: 271px; overflow: hidden; min-height: 0px;">
        <ul class="inner pad-top" style="list-style:none;max-height: 271px; overflow-y: auto; min-height: 0px;">
            <li>
                <div class="checkbox SelectAll">
                    <input id="selectAll1" data-bind="click:selectall2" class="magic-checkbox" type="checkbox" name="checkbox" value="0" data-title="全辖">
                    <label class="checkbox" data-bind="click:selectall">全部</label>
                </div>
            </li>

            <li>
                <ul class="dropdown-menu-child pad-top" style="list-style:none; max-height: 271px; min-height: 0px;">

                    <!-- ko foreach:{data: selectdata, as: 'dt' } -->
                    <li class="alonechk">
                        <div class="checkbox">
                            <input class="magic-checkbox" type="checkbox" name="checkbox" data-bind="attr:{'value':dt.code,'data-title':dt.name}">
                            <label class="checkbox">
                                <!-- ko text:dt.name--> <!-- /ko -->
                            </label>
                        </div>
                    </li>
                    <!-- /ko -->


                    <li class="pull-right pad-rgt">
                        <button class="btn btn-default chk-confirm" data-bind="click:confirmclick">确定</button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>