<div class="col-lg-6">
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-control">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#customer-group-serach">集团客户数据查询</a></li>
                    <li><a data-toggle="tab" href="#customer-group-area">分区域</a></li>
                    <li><a data-toggle="tab" href="#customer-group-team">分团队</a></li>
                </ul>

            </div>
            <h3 class="panel-title">集团客户数据</h3>
        </div>

        <!--Panel body-->
        <div class="panel-body">
            <!--Tabs content-->
            <div class="tab-content">
                <div id="customer-group-serach" class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-xs-9">
                            <div class="col-xs-9">
                                <input type="text" class="form-control" value="按编号或名称查询" />
                            </div>
                            <div class="col-xs-3">
                                <button class="btn btn-mint customer-group-btn" type="button">查找</button>
                            </div>
                        </div>
                        <div class="col-xs-3 pad-top">
                            <a href="#" class="customer-group-all">查看全部集团客户</a>
                        </div>
                    </div>
                </div>
                <div id="customer-group-area" class="tab-pane fade">
                    <div class="col-xs-6">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th class="major">全球战略</th>
                                                <th class="major">总行重点</th>
                                                <th class="no-major">分行重点</th>
                                                <th class="no-major">一般客户</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>江苏省分行</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                            </tr>
                                            <tr>
                                                <td>江苏省分行</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                            </tr>
                                            <tr>
                                                <td>江苏省分行</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                            </tr>
                                            <tr>
                                                <td>江苏省分行</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                            </tr>
                                            <tr>
                                                <td>江苏省分行</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                            </tr>
                                            <tr>
                                                <td>江苏省分行</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-xs-6">

                        <div class="panel">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th class="major">全球战略</th>
                                                <th class="major">总行重点</th>
                                                <th class="no-major">分行重点</th>
                                                <th class="no-major">一般客户</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>江苏省分行</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                            </tr>
                                            <tr>
                                                <td>江苏省分行</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                            </tr>
                                            <tr>
                                                <td>江苏省分行</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                            </tr>
                                            <tr>
                                                <td>江苏省分行</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                            </tr>
                                            <tr>
                                                <td>江苏省分行</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                            </tr>
                                            <tr>
                                                <td>江苏省分行</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div id="customer-group-team" class="tab-pane fade">
                    <div class="col-xs-6">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th class="major">全球战略</th>
                                                <th class="major">总行重点</th>
                                                <th class="no-major">分行重点</th>
                                                <th class="no-major">一般客户</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>团队1</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                            </tr>
                                            <tr>
                                                <td>团队2</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                            </tr>
                                            <tr>
                                                <td>团队3</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                            </tr>
                                            <tr>
                                                <td>团队4</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                            </tr>
                                            <tr>
                                                <td>团队5</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                            </tr>
                                            <tr>
                                                <td>团队6</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-xs-6">

                        <div class="panel">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th class="major">全球战略</th>
                                                <th class="major">总行重点</th>
                                                <th class="no-major">分行重点</th>
                                                <th class="no-major">一般客户</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>团队1</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                            </tr>
                                            <tr>
                                                <td>团队2</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                            </tr>
                                            <tr>
                                                <td>团队3</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                            </tr>
                                            <tr>
                                                <td>团队4</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                            </tr>
                                            <tr>
                                                <td>团队5</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                            </tr>
                                            <tr>
                                                <td>团队6</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                                <td class="col-md-2 no-major">3</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="col-lg-6" id="manager-data">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">管理层数据</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-1 nucleus-title">核心数据</div>
                <div class="col-lg-11 nucleus-content">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">
                                <!--<span class="box-block">
                                    <img src="../../Content/images/u398.png" />
                                </span>-->
                                <span class="box-block">
                                    <i class="icon-shouyi4 icon-2x"></i>
                                </span>
                                存款
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="box-block">
                                    <i class="icon-shouyi4 icon-2x"></i>
                                </span>
                                贷款
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="box-block">
                                    <i class="icon-shouyi4 icon-2x"></i>
                                </span>
                                非利息收入
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="box-block">
                                    <i class="icon-shouyi4 icon-2x"></i>
                                </span>
                                资产质量
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1 across-title">交叉数据</div>
                <div class="col-lg-11 across-content">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">
                                <span class="box-block">
                                    <i class="icon-shouyi4 icon-2x"></i>
                                </span>
                                余额
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="box-block">
                                    <i class="icon-shouyi4 icon-2x"></i>
                                </span>
                                余额
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="box-block">
                                    <i class="icon-shouyi4 icon-2x"></i>
                                </span>
                                余额
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="box-block">
                                    <i class="icon-shouyi4 icon-2x"></i>
                                </span>
                                余额
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="box-block">
                                    <i class="icon-shouyi4 icon-2x"></i>
                                </span>
                                余额
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="box-block">
                                    <i class="icon-shouyi4 icon-2x"></i>
                                </span>
                                余额
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="box-block">
                                    <i class="icon-shouyi4 icon-2x"></i>
                                </span>
                                余额
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>