<div id="information" class="col-lg-6">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">资讯</h3>
        </div>
        <div class="panel-body information-content">
            <ul class="list-unstyled">
                <li>
                    <a href="#">
                        <span class="box-block">
                            <i class="icon-yuedu"></i>
                        </span>
                        资产质量
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="box-block">
                            <i class="icon-yuedu"></i>
                        </span>
                        资产质量
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="box-block">
                            <i class="icon-yuedu"></i>
                        </span>
                        资产质量
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="box-block">
                            <i class="icon-yuedu"></i>
                        </span>
                        资产质量
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="box-block">
                            <i class="icon-yuedu"></i>
                        </span>
                        资产质量
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="box-block">
                            <i class="icon-yuedu"></i>
                        </span>
                        资产质量
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="box-block">
                            <i class="icon-yuedu"></i>
                        </span>
                        资产质量
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="box-block">
                            <i class="icon-yuedu"></i>
                        </span>
                        资产质量
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="box-block">
                            <i class="icon-yuedu"></i>
                        </span>
                        资产质量
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="box-block">
                            <i class="icon-yuedu"></i>
                        </span>
                        资产质量
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
<div id="project-store" class="col-lg-3">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">项目库</h3>
        </div>

        <div class="panel-body project-store">
            <div class="form-group">
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <select class="selectpicker form-control">
                    <option>HTML</option>
                    <option>CSS</option>
                    <option>jQuery</option>
                    <option>Javascript</option>
                </select>

            </div>
            <div class="form-group">
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <div class="col-lg-6 pro-btn">
                    <button type="submit" class="btn btn-primary" name="search">search</button>
                </div>
                <div class="col-lg-6 ">
                    <a href="#" class="pull-right pro-all-link">查看全部项目</a>
                </div>
                <!--<div class="col-lg-7 col-lg-offset-3">

                </div>-->
            </div>
        </div>
    </div>
</div>
<div id="task-flow" class="col-lg-3">
    <div class="row">
        <div class="panel task-process">
            <div class="panel-body">
                <a href="#">
                    <span class="box-block">
                        <i class="icon-iconwodefuwuliucheng"></i>
                    </span>
                    任务与流程
                </a>
            </div>
        </div>
    </div>
    <div id="out-link" class="row">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">外部链接系统</h3>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <select class="selectpicker form-control" id="outsystem">
                        <option value="#.html">请选择</option>
                        <option value="http://www.baidu.com">百度</option>
                        <option>百度</option>
                        <option>百度</option>
                        <option>百度</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>