<div class="col-lg-1 nucleus-title" data-bind="text:manager_title">核心数据</div>
<div class="col-lg-11 nucleus-content">
    <ul class="list-unstyled">
        <li>
            <a data-bind="attr:{href:menu.GenerateUrl('201')}">
                <span class="box-block">
                    <i class="icon-shouyi4 icon-2x"></i>
                </span>
                存款
            </a>
        </li>
        <li>
            <a href="#">
                <span class="box-block">
                    <i class="icon-shouyi4 icon-2x"></i>
                </span>
                贷款
            </a>
        </li>
        <li>
            <a href="#">
                <span class="box-block">
                    <i class="icon-shouyi4 icon-2x"></i>
                </span>
                非利息收入
            </a>
        </li>
        <li>
            <a href="#">
                <span class="box-block">
                    <i class="icon-shouyi4 icon-2x"></i>
                </span>
                资产质量
            </a>
        </li>
    </ul>
</div>