<div class="panel">
    <div class="panel-heading">
        <div class="panel-control">
            <a href="#" class="panel-title-right" data-bind="text:schedule_title">查看历史待办</a>
        </div>
        <h3 class="panel-title">待办</h3>

    </div>
    <div class="panel-body">
        <ul class="list-group bg-trans wait-work" data-bind="foreach:{data:scheduledata, as: 'sd' }">
            <li class="list-group-item">
                <div class="work-title-bold">
                    <a data-bind="attr: { href: sd.schedulelink}">
                        <span data-bind="text:sd.schedulecontent"></span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
