<div class="enterpriseMsg">
    <div class="">
        <h3 style="display:inline-block">大连万达集团股份有限公司</h3>
        <img src="" alt="图片" />
    </div>
    <div class="">
        <h5 style="display:inline-block">集团编码：00000044</h5>
    </div>
    <div>
        <table class="table" border="0" data-toggle="table">
            <thead>
                <tr>
                    <th>牵头行</th>
                    <th>客户经理</th>
                    <th>总行团队(GSP维护)</th>
                    <th>存款余额 </th>
                    <th>公司贷款余额</th>
                    <th>贷款余额</th>
                    <th>授信余额</th>
                    <th>可用授信总量</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-bind="text:leadBankInstitution"></td>
                    <td data-bind="text:leadBankManager"></td>
                    <td data-bind="text:customerLevel"></td>
                    <td data-bind="text:leadBankInstitution"></td>
                    <td data-bind="text:leadBankInstitution"></td>
                    <td data-bind="text:leadBankInstitution"></td>
                    <td data-bind="text:leadBankInstitution"></td>
                    <td data-bind="text:leadBankInstitution"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
