<!DOCTYPE html>
<html>
<head>
    {{#block "head"}}
    <title>{{title}}</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="Mon, 20 Jul 2009 23:00:00 GMT" />

    <link href="../../../Assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../../../Assets/css/nifty.css" rel="stylesheet" />
    <link href="../../../Assets/css/common.css" rel="stylesheet" />
    <link href="../../../Assets/css/iconfont.css" rel="stylesheet" />
    <link href="../../../Assets/css/red.css" rel="stylesheet" />
    <link href="../../../Assets/plugins/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet" />

    <script type="text/javascript" src="../../../Assets/Scripts/jquery-2.2.4.js"></script>
    <script type="text/javascript" src="../../../Assets/Scripts/common/bootstrap.js"></script>
    <script type="text/javascript" src="../../../Assets/Scripts/common/nifty.js"></script>
    <script type="text/javascript" src="../../../Assets/Scripts/js.cookie.js"></script>
    <script type="text/javascript" src="../../../Assets/Scripts/js.storage.js"></script>
    <script type="text/javascript" src="../../../Assets/Scripts/knockout-3.4.0.debug.js"></script>

    <script type="text/javascript" src="../../../Assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="../../../Assets/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>

    <script type="text/javascript" src="../../../Assets/Scripts/common/globalsetting.js"></script>
    <script type="text/javascript" src="../../../Assets/Scripts/common/common.js"></script>
    <script type="text/javascript" src="../../../Assets/Scripts/common/menu.js"></script>

    <script type="text/javascript" src="../../../Assets/Scripts/common/userinfo.js" checklogon="true"></script>


    <link href="../../../Assets/css/nprogress.css" rel="stylesheet" />
    <link href="../../../Assets/css/toastr.min.css" rel="stylesheet" />
    <script type="text/javascript" src="../../../Assets/Scripts/toastr.min.js" checklogon="true"></script>
    <script type="text/javascript" src="../../../Assets/Scripts/nprogress.js" checklogon="true"></script>

    <script type="text/javascript" src="../../../Assets/Scripts/gsp.lib.js" checklogon="true"></script>
    <script type="text/javascript" src="../../../Assets/Scripts/gsp.lib.user.js" checklogon="true"></script>


    {{/block}}
</head>
<body>

    <div id="gsp_container">
        <div id="gsp-header" data-bind="component:{name:'page_header'}"></div>

        <div id="gsp-boxed-sm">
            <div id="gsp-page">
                <div id="gsp-page-content">
                    {{#block "maincontent"}}

                    {{/block}}
                </div>
            </div>
        </div>

        <div id="gsp-footer" data-bind="component:{name:'page_footer'}"></div>
    </div>
    {{#block "foot"}}
   
    {{/block}}

</body>
</html>
