<div id="description1" class="descriptionout">
    <div class="descriptionin" data-bind="text:param.chart.description"></div>
</div>

<div class="row" style="margin-top:10px">

    <div class="col-lg-9 floleft">
        <span class="font16" data-bind="text:param.chart.title">公司存款时点余额</span>
    </div>
    <div class="col-lg-3  textright">
        <a class="instruction" onmousemove="document.getElementById('description1').style.display = 'block'" onmouseout="document.getElementById('description1').style.display = 'none'">数据说明</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 floleft">
        <button class="btn-chart" data-bind="click:exportexcel">导出</button>
    </div>
    <div class="col-lg-6 textright">
        <div class="mb5 font12">
            <span>数据日期：</span>
            <span>2016年6月</span>
        </div>
        <div class="mb5 font12">
            <span>单位：</span>
            <span id="unit" data-bind="text:param.chart.unit"></span>
        </div>
    </div>
</div>
<div class="row">

    <div class="chart" data-bind="customchart:true"></div>

    <div data-bind="customchart1:true" class="legend"></div>
</div>
