

    <div data-bind="component:{name:'searchoption1',params:searchoption}"></div>

    <div class="divout">

        <div class="divout1" data-bind="component:{name:'chartgroup',params:{display:displaychart1,option:searchoption.refdata,template:'SDcurrency',action:action}},visible:displaychart1"></div>

        <!--<div class="divout1" data-bind="component:{name:'chartgroup',params:{display:displaychart2,option:searchoption.refdata,template:'002',action:action}},visible:displaychart2"></div>-->

        <div class="divout1" data-bind="component:{name:'chartgroup',params:{display:displaychart3,option:searchoption.refdata,template:'RJ',action:action}},visible:displaychart3"></div>

        <div class="divout1" data-bind="component:{name:'chartgroup',params:{display:displaychart4,option:searchoption.refdata,template:'RJOther',action:action}},visible:displaychart4"></div>

        <div class="divout1" data-bind="component:{name:'chartgroup',params:{display:displaychart5,option:searchoption.refdata,template:'TY',action:action}},visible:displaychart5"></div>

        <div class="divout1" data-bind="component:{name:'chartgroup',params:{display:displaychart7,option:searchoption.refdata,template:'FXL',action:action}},visible:displaychart7"></div>

        <div class="divout1" data-bind="component:{name:'chartgroup',params:{display:displaychart8,option:searchoption.refdata,template:'FHY',action:action}},visible:displaychart8"></div>

        <div class="divout1" data-bind="component:{name:'chartgroup',params:{display:displaychart9,option:searchoption.refdata,template:'FCP',action:action}},visible:displaychart9"></div>

    </div>
 