

    <div data-bind="component:{name:'searchoption2',params:searchoption}"></div>

    <div class="divout">

        <div class="divout1" data-bind="component:{name:'chartgroup2',params:{display:displaychart1,option:searchoption.refdata,template:'001',action:action}},visible:displaychart1"></div>

        <div class="divout1" data-bind="component:{name:'chartgroup2',params:{display:displaychart2,option:searchoption.refdata,template:'002',action:action}},visible:displaychart2"></div>

        <div class="divout1" data-bind="component:{name:'chartgroup2',params:{display:displaychart3,option:searchoption.refdata,template:'003',action:action}},visible:displaychart3"></div>

    </div>
 