<div class="form-horizontal" id="rdo">
    <div class="form-group">
        <label class="col-lg-1 control-label">机构</label>
        <div class="col-lg-5">
            <select class="form-control-select">
                <option>全辖</option>
                <option>北京</option>
                <option>上海</option>
                <option>天津</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-1 control-label">数据日期</label>
        <div class="col-lg-11">
            <select id="overview-overseas-selectyear" class="form-control-select" style="width:100px"></select>
            <select id="overview-overseas-selectmonth" class="form-control-select" style="width:100px"></select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <button class="btn btn-danger btn-normal">查看</button>
        </div>
    </div>
    <div class="form-group">
        <div class="dottedline"></div>
    </div>
</div>