<div class="divout">
    <!-- ko foreach:{data:chartsdata,as:'dt'} -->
    <div class="divout1">
        <div class="divcenter">
            <span data-bind="text:dt.maintitle"></span>
            <div class="row">
                <!-- ko foreach:{data:dt.data,as:'dt1'} -->
                <!-- ko if:dt1.code==1 -->
                <!-- ko if:dt1.chartdata.length<=12 -->
                <div class="col-lg-6">
                    <div class="divinleft">
                        <div class="row" data-bind="component:{name:'chartinfo',params:{chartinfo:dt1}}"></div>
                        <div class="row" data-bind="component:{name:'chart',params:{chart:dt1.chartdata,charttype:dt1.charttype}}"></div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if:dt1.chartdata.length>12 -->
                <div class="col-lg-12">
                    <div class="divinleft">
                        <div class="row" data-bind="component:{name:'chartinfo',params:{chartinfo:dt1}}"></div>
                        <div class="row" data-bind="component:{name:'chart',params:{chart:dt1.chartdata,charttype:dt1.charttype}}"></div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- /ko -->

                <!-- ko if:dt1.code==2 -->
                <div class="col-lg-12">
                    <div class="divinleft">
                        <div class="row" data-bind="component:{name:'chartinfo',params:{chartinfo:dt1}}"></div>
                        <div class="row" data-bind="component:{name:'chart',params:{chart:dt1.chartdata,charttype:dt1.charttype}}"></div>
                    </div>
                </div>
                <!-- /ko -->

                <!-- ko if:dt1.code==3 -->
                <div class="col-lg-6">
                    <div class="divinleft">
                        <div class="row" data-bind="component:{name:'chartinfo',params:{chartinfo:dt1}}"></div>
                        <div class="row" data-bind="component:{name:'chart',params:{chart:dt1.chartdata,charttype:dt1.charttype}}"></div>
                    </div>
                </div>
                <!-- /ko -->

                <!-- /ko -->
            </div>
           
            <!--<div class="row" data-bind="component:{name:'chartinfo',params:{chartinfo:dt1}}"></div>
            <div class="row" data-bind="component:{name:'chart',params:{chart:dt1.chartdata,charttype:dt1.charttype}}"></div>-->
           



        </div>
    </div>
    <!-- /ko -->
</div>
