<div id="description1" class="descriptionout">
    <div data-bind="text:description" class="descriptionin"></div>
</div>
<div class="row" style="margin-top:10px">
    <div class="col-lg-10 floleft">
        <span class="font18" data-bind="text:title"></span>
    </div>
    <div class="col-lg-2 instruction textright">
        <a class="instruction" onmousemove="document.getElementById('description1').style.display = 'block'" onmouseout="document.getElementById('description1').style.display = 'none'">数据说明</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 floleft">
        <button class="btn-chart">导出</button>
    </div>
    <div class="col-lg-6 textright">
        <div class="mb5 font12">
            <span>数据日期：</span>
            <span data-bind="text:datadate"></span>
        </div>
        <div class="mb5 font12">
            <span>单位：</span>
            <span data-bind="text:unit"></span>
        </div>
    </div>
</div>